<html>
  <head>
    <title><%= urlInfo.destination_url %></title>
    <style>
      .hidden {
        display: none;
      }
    </style>
    <script>
      // Initialize the agent at application startup.
      const fpPromise = new Promise((resolve, reject) => {
          const script = document.createElement('script');
          script.onload = resolve;
          script.onerror = reject;
          script.async = true;
          script.src = '/fp.js';
          document.head.appendChild(script);
      })
      .then(() => FingerprintJS.load({
        token: 'JAdsBMaJzNmoepNuMdFH',
        endpoint: 'https://metrics.urlshield.io'
      }))
      .catch(err => {
        console.log(err);
        // window.location.replace(document.getElementById('url').innerText);
      });
    
      // Get the visitor identifier when you need it.
      fpPromise
        .then(fp => fp.get({ extendedResult: true }))
        .then(result => {
          const clientInfo = {};
          clientInfo.url_id = document.getElementById('url_id').textContent;
          clientInfo.visitorId = result.visitorId;
          clientInfo.visitorFound = result.visitorFound;
          clientInfo.browserName = result.browserName;
          clientInfo.browserVersion = result.browserVersion;
          clientInfo.device = result.device;
          clientInfo.incognito = result.incognito;
          clientInfo.ip = result.ip;
          clientInfo.os = result.os;
          clientInfo.osVersion = result.osVersion;
          clientInfo.language = clientInformation.language;
          clientInfo.languages = JSON.stringify(clientInformation.languages);
          clientInfo.userAgent = navigator.userAgent;
          clientInfo.vendor = navigator.vendor;
          clientInfo.mobile = navigator.mobile;
          clientInfo.platform = navigator.platform;
          clientInfo.screenHeight = screen.height;
          clientInfo.screenWidth = screen.width;
          clientInfo.pixelDepth = screen.pixelDepth;
          clientInfo.colorDepth = screen.colorDepth;
          clientInfo.devicePixelRatio = window.window.devicePixelRatio;
          clientInfo.appCodeName = navigator.appCodeName;
          clientInfo.appName = navigator.appName;
          clientInfo.appVersion = navigator.appVersion;
          clientInfo.deviceMemory = clientInformation.deviceMemory;
          clientInfo.hardwareConcurrency = clientInformation.hardwareConcurrency;

          return fetch('http://localhost:3000/api/logs/' + document.getElementById('url_short').textContent, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(clientInfo)
          });
        })
        .then(res => {
          console.log(res);
          // window.location.replace(document.getElementById('url').innerText);
        })
        .catch(err => {
          console.log(err);
          // window.location.replace(document.getElementById('url').innerText);
        });
    </script>
  </head>
  <body>
    <div id='url' class='hidden'><%= urlInfo.destination_url %></div>
    <div id='url_short' class='hidden'><%= urlInfo.short_url %></div>
    <div id='url_id' class='hidden'><%= urlInfo.url_id %></div>
  </body>
</html>